{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

    {%- for entry in pagination.get_slice() %}
        <article class=entry-overview>
            <div class=date>{{ format_date(entry.pub_date, format='medium') }}</div>
            <div class=detail>
                {% if entry.tags %}
                    <aside>
                    {% for tag in entry.tags|sort(case_sensitive=true) %}
                        {%- if not loop.first and not loop.last %}, {% endif -%}
                        {%- if loop.last and not loop.first %} and {% endif %}
                        <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
                    {%- endfor %}
                    </aside>
                {% endif %}

                <header>
                    <h2><a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a></h2>
                </header>
                {% if entry.summary %}
                    <section class=summary>{{ entry.render_summary() }}</section>
                {% endif %}
            </div>
        </article>
    {%- endfor %}

    {% if show_pagination and pagination.pages > 1 %}
        {{ pagination }}
    {% endif %}
{% endblock %}
